.text-rotate {
  display: inline-flex;
  align-items: center;
  position: relative;
  white-space: nowrap;
}

.text-rotate-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text-rotate-word {
  display: inline-flex;
}

.text-rotate-lines {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}

.text-rotate-element {
  display: inline-flex;
}

.text-rotate-space {
  white-space: pre;
}
